<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	<context:annotation-config></context:annotation-config>
	<bean id="user" class="com.full.bean.User"></bean>
	<bean id="UserDao" class="com.full.dao.UserDao"></bean>
	<bean id="PercentDao" class="com.full.dao.PercentageTrackerDao"></bean>
	<bean id="PercentService" class="com.full.service.PercentageTrackerService"></bean>
	<bean id="Company" class="com.full.bean.Company"></bean>
	
<!-- 	<bean id="userDatabase" class="com.full.db.UserDatabase"></bean> -->
</beans>
